In [21]:
import pandas as pd

raw_data = {'score':[
    14,10,None,None,2,None,43
],'percentage':[19.5,3.4,7.5,11.8,0.87,6.54,7.5]}
df = pd.DataFrame(raw_data)
df

   percentage  score
0       19.50   14.0
1        3.40   10.0
2        7.50    NaN
3       11.80    NaN
4        0.87    2.0
5        6.54    NaN
6        7.50   43.0

In [22]:
print df.fillna(method='ffill', limit=1)

   percentage  score
0       19.50   14.0
1        3.40   10.0
2        7.50   10.0
3       11.80    NaN
4        0.87    2.0
5        6.54    2.0
6        7.50   43.0

In [24]:
print df.interpolate(method='polynomial',order=2)

   percentage      score
0       19.50  14.000000
1        3.40  10.000000
2        7.50   4.232704
3       11.80  -1.679245
4        0.87   2.000000
5        6.54  16.893082
6        7.50  43.000000